<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         input {
               font-size: 6px;}
         body {
    background-color: #051229;
    
    /* Glow focused near the bottom (50% horizontally, 100% vertically) */
    background-image: radial-gradient( 
         ellipse at 0% 50%, 

        #163264 60%, 

        #fc4e03  40%,  
      transparent 70% 
    ); 
    
   min-height: 100vh;
    margin: 0;
              }
       
    </style>

    <title>Snacks List</title>
</head>
<body>
  <header>
             welcome to mondy shop
  </header>
  <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio inventore, officiis illum qui maiores eligendi dignissimos! Quisquam veritatis itaque, iste nam eaque nesciunt fugit at voluptatibus aperiam voluptate laborum eligendi.
      
    
  </div>
      
    
</body>
</html>
